* {
    font-family: 'Consolas', monospace;
    font-size: 14px !important;
    font-weight: normal !important;
}

:root {
    --bg: #000;
    --setting: #333;
    --settingHighlight: #888;
    --heading: #070;
    --accent: #0f0;
}

body {
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow:dense;
    gap: 1rem;
    color: var(--accent);
    min-height: 0;
}

body>div {
    grid-column: auto;
    min-height: 0;
}

animation-invoker,
animation-repeater {
    display: block;
    position: relative;
    border: 1px solid var(--accent);
    padding: 25px 5px 5px;
    min-height: 0;
    margin-bottom: 1rem;
}

h2.type {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 4px;
    background: var(--heading);
    color: var(--bg);
}

p.text-setting,
p.value-setting,
p.color-setting {
    background: var(--setting);
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    margin: 4px -4px;
}
p.text-setting.disabled,
p.value-setting.disabled,
p.color-setting.disabled {
    opacity: .5;
}

p.color-setting {
    border: 4px solid var(--setting);
    padding: 0;
}